body {
    font-family: "Noto Sans TC",
        "微軟正黑體",
        sans-serif;
    ;
}

#chat-page {
    display: none;
    background-color: rgb(119, 181, 252);
    margin-top: 0px;
    margin-left: 0px;
    min-height: 100vh;


}

.chat-list-container {
    margin-left: 100px;
    margin-top: 0px;
}

.group-chat-list-container {
    margin-left: 100px;
    margin-top: 20px;
}

.chat-list {
    display: flex;
    background-color: white;
    width: 500px;
    padding: 5px;
    border: 1px solid black;
    margin: auto;
    cursor: pointer;
    position: relative;
}

.chat-list:hover {
    transform: scale(1.03);
}

.chat-group-list {
    display: flex;
    background-color: white;
    width: 500px;
    padding: 5px;
    border: 1px solid black;
    margin: auto;
    cursor: pointer;
    position: relative;
}

.chat-group-list:hover {
    transform: scale(1.03);
}


.is-add-friend-to-stranger {
    position: fixed;
    width: 300px;
    height: 90px;
    background-color: white;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 10px;
    border: 2px solid black;
    z-index: 2000;
}

.is-add-friend-title {
    text-align: center;
    font-weight: bolder;
    margin-top: 5px;
    font-size: 20px;
}

.is-add-friend-to-stranger {
    display: none;
}

.is-add-friend-container {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

.is-add-friend-container p {
    font-weight: bolder;
    background-color: rgb(119, 181, 252);
    padding: 5px;
    color: white;
    border-radius: 10px;
}

.is-add-friend-container p:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.add-group-chat-container {
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    margin-left: 100px;
}

.add-group-chat-container p {
    line-height: 40px;
    height: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: black;

}

.add-group-chat-icon {
    width: 40px;
}

.add-group-btn {
    display: flex;
    background-color: white;
    width: 500px;
    padding: 5px;
    border: 1px solid black;
    margin: auto;
    cursor: pointer;
    position: relative;
    justify-content: center;
}

.add-group-btn:hover {
    transform: scale(1.03);
}

.add-group-popup {
    position: fixed;
    width: 500px;
    height: 550px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.close-add-group-popup {
    display: flex;
    width: 40px;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.close-add-group-popup:hover {
    transform: scale(1.1);
}

.group-name {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
}

.group-name p {
    font-size: 20px;
    font-weight: bolder;
    margin-right: 10px;
}

.group-name-input {
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;

}

.group-member {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}

.group-member p {
    font-size: 20px;
    font-weight: bolder;
    margin-right: 10px;
}

.group-member-input {
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
}

.group-member-btn {
    width: 40px;
    margin-left: 10px;
    cursor: pointer;
}

.group-member-btn:hover {
    transform: scale(1.1);
}

.group-member-container {
    display: flex;
}

.search-list {
    overflow: scroll;
    overflow-x: hidden;
    height: 350px;
    width: 250px;
    margin-top: 10px;
}

.search-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #eaeaea00;
    border-radius: 10px;
}

.search-list::-webkit-scrollbar-thumb {
    background-color: rgb(194, 194, 194);
    border-radius: 10px;
}


.search-list::-webkit-scrollbar-thumb:hover {
    background-color: rgb(156, 156, 156);
}

.search-user {
    display: flex;
    justify-content: left;
    margin-left: 10px;
    align-items: center;
    width: 200px;
    border: 1px solid black;
    padding: 2px;
    border-radius: 5px;
    margin-bottom: 2px;
}

.search-user-name {
    margin-left: 10px;
    font-weight: bolder;

}

.had-add-member-list {
    margin-top: 10px;
    overflow: scroll;
    overflow-x: hidden;
    height: 350px;
    width: 250px;
}

.had-add-member-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #eaeaea00;
    border-radius: 10px;
}

.had-add-member-list::-webkit-scrollbar-thumb {
    background-color: rgb(194, 194, 194);
    border-radius: 10px;
}


.had-add-member-list::-webkit-scrollbar-thumb:hover {
    background-color: rgb(156, 156, 156);
}

.had-add-member-list-title {
    text-align: center;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: 10px;
}

.add-member-btn {
    width: 35px;
    margin-left: auto;
    cursor: pointer;
}

.add-member-btn:hover {
    transform: scale(1.1);
}

.remove-member-btn {
    width: 35px;
    margin-left: auto;
    cursor: pointer;
}

.remove-member-btn:hover {
    transform: scale(1.1);
}

.had-add-user {
    display: flex;
    justify-content: left;
    margin-left: 10px;
    align-items: center;
    width: 200px;
    border: 1px solid black;
    padding: 2px;
    border-radius: 5px;
    margin-bottom: 2px;
}

.create-group-btn {
    text-align: center;
    padding: 5px;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    margin: auto;
    background-color: rgb(56, 149, 255);
}

.create-group-btn:hover {
    transform: scale(1.05);
}

.group-read-status {
    margin-left: 20px;
}

.group-member-icon {
    width: 40px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    display: none;
}

.group-member-icon:hover {
    transform: scale(1.1);
}

.group-member-headshot-nickname {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.group-chat-member-nickname {
    font-weight: bold;
}

.group-member-popup-close {
    display: block;
    width: 50px;
    float: right;
    clear: both;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.group-member-popup-close:hover {
    transform: scale(1.1);
}

.group-member-popup {
    position: fixed;
    width: 300px;
    background-color: white;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 10px;
    border: 2px solid black;
    display: none;
}

.group-member-list-title {
    margin-top: 80px;
    font-weight: bolder;
    font-size: 20px;
    margin-left: 10px;
}

.group-member {
    display: flex;
    cursor: pointer;
}

.friend-popup-add-friend {
    width: 50px;
    margin: auto;
    margin-top: 100px;
    cursor: pointer;
    margin-bottom: 10px;
    display: none;
}

.friend-popup-add-friend:hover {
    transform: scale(1.1);
}

.friend-popup-call {
    width: 50px;
    margin: auto;
    margin-top: 100px;
    cursor: pointer;
    margin-bottom: 10px;

}

.friend-popup-call:hover {
    transform: scale(1.1);
}

.friend-popup-pc-container {
    display: flex;
}