body {
    font-family: "Noto Sans TC",
        "微軟正黑體",
        sans-serif;
    ;
}


#friend-page {
    min-height: 100vh;
    padding-bottom: 40px;
}


@keyframes slideInFromTop {
    from {
        transform: translate(-50%, -900%);
    }

    to {
        transform: translate(-50%, -50%);
    }
}

.add-friend-status-popup {
    position: absolute;
    height: 100px;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    width: 30%;
    border: 2px solid black;
    display: none;
    z-index: 1500;
    /* animation: slideInFromTop 0.5s ease-in-out; */

}

.add-friend-status {
    color: rgb(0, 173, 0);
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
    top: 50%;
    left: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.search-result-list {
    width: 500px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 50px;
    display: none;
}

.search-result-list-close-container {
    width: 500px;
    margin: auto;
    margin-top: 15px;
}

.search-result-list-close {
    display: none;
    width: 30px;
    float: right;
    margin-top: 10px px;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 10px;

}

.search-result-list-close:hover {
    transform: scale(1.1);
}

.friend-page-list-title {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    background-color: #ffffff;
    width: 500px;
    margin: auto;
    border: 1px solid black;
    /* border-radius: 10px; */
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    margin-top: 50px;

}

.group-page-list-title {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    background-color: #ffffff;
    width: 500px;
    margin: auto;
    border: 1px solid black;
    /* border-radius: 10px; */
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    margin-top: 50px;
}

.list-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: white;
    width: 500px;
    margin: auto;
    border: 1px solid black;
}

.list-empty p {
    font-weight: bolder;
    margin-left: 20px;
    font-size: 35px;
}

.list-empty img {
    width: 200px;
}

.add-friends-btn {
    display: flex;
    background-color: white;
    width: 500px;
    padding: 5px;
    border: 1px solid black;
    margin: auto;
    cursor: pointer;
    position: relative;
    justify-content: center;
}

.add-friends-btn:hover {
    transform: scale(1.03);
}

.add-friends-btn p {
    font-size: 30px;
    font-weight: bolder;
    margin-left: 10px;
}

.add-friends-btn img {
    width: 50px;
}