* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(147, 197, 253);
    font-family: Lato,
        'Noto Sans TC',
        'PingFang TC',
        'Helvetica Neue',
        'SF Pro TC',
        Helvetica,
        arial,
        'Microsoft JhengHei',
        'Microsoft YaHei',
        sans-serif;
}

.container {
    width: 500px;
    background-color: white;
    margin: auto;
    margin-top: 100px;
    border-radius: 15px;
}

#signup-container {
    width: 500px;
    background-color: white;
    margin: auto;
    margin-top: 100px;
    border-radius: 15px;
}

.login-title {

    text-align: center;
    font-size: 40px;
    padding-top: 20px;
}

.login-btn {
    text-align: center;
    background-color: rgb(83, 163, 255);
    width: 100px;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
    border-radius: 20px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.login-btn:hover {
    transform: scale(1.1);
}

.form-floating {
    width: 400px;
    margin: auto;
    margin-bottom: 20px;
}

.signup-btn {
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bolder;
    padding-bottom: 10px;

}

.signup-btn:hover {
    color: rgb(83, 163, 255);
    transform: scale(1.1);
}

#signup-container {
    display: none;
}

.had-account-btn {
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bolder;
    padding-bottom: 10px;

}

.had-account-btn:hover {
    color: rgb(83, 163, 255);
    transform: scale(1.1);
}

.signup-error-msg {
    color: red;
    font-weight: bolder;
}

#email-verification-container {
    display: none;
}

.sign-successful-popup {
    position: fixed;
    width: 500px;
    height: 200px;
    z-index: 2000;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 3px solid black;
    text-align: center;
    display: none;
}

.signup-popup-error-msg {
    font-size: 30px;
    font-weight: bolder;
    margin-top: 30px;
}

.signup-popup-btn {
    padding: 5px;
    font-size: 25px;
    color: white;
    font-weight: bolder;
    background-color: rgb(83, 163, 255);
    width: 60px;
    margin: auto;
    border-radius: 10px;
    margin-top: 50px;
    cursor: pointer;

}

.signup-popup-btn:hover {
    transform: scale(1.1);
}

.login-error-msg {
    text-align: center;
    font-size: 20px;
    color: red;
    font-weight: bolder;
    display: none;
}

.verification-error-msg {
    color: red;
    font-size: 20px;
    font-weight: bolder;
}