* {
    padding: 0px;
    margin: 0px;
}

body {
    position: relative;

}

.navbar {
    z-index: 999;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.container {
    display: flex;
}

.left-content {
    width: 90px;
    margin-top: 0px;
    position: fixed;
    background-color: white;
    height: 100%;
    padding: 10px;
}

.pc-icon {
    width: 70px;
    width: 75px;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 10px;
}


.right-content {
    width: 100%;
    background-color: rgb(119, 181, 252);

}

.search-bar {
    margin-top: 60px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}

.search-friend {
    outline: none;
    width: 400px;
    height: 40px;
    font-size: 20px;
    padding-left: 5px;
    border-radius: 10px;
}


.search-friend-btn {
    width: 50px;
    height: 45px;
    align-items: center;
    cursor: pointer;
    margin-left: 3px;
}

.search-friend-btn:hover {
    transform: scale(1.1);
}



.search-friend-popup {
    display: none;
    width: 100%;
    height: 300px;
    position: fixed;
    top: 100px;
    left: auto;
}

.popup-close-btn {
    display: flex;
    width: 40px;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.popup-close-btn:hover {
    transform: scale(1.1);
}

.search-title {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

.search-friend-popup-content {
    width: 600px;
    background-color: white;
    height: 600px;
    margin: auto;
    border-radius: 10px;
    border: 2px solid black;

}


.search-friend-popup-result {
    height: 380px;
    overflow: scroll;
    overflow-x: hidden;
}



.search-friend-popup-result::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #eaeaea00;
    border-radius: 10px;
}

.search-friend-popup-result::-webkit-scrollbar-thumb {
    background-color: rgb(194, 194, 194);
    border-radius: 10px;
}


.search-friend-popup-result::-webkit-scrollbar-thumb:hover {
    background-color: rgb(156, 156, 156);
}

.search-friend-popup-content p {
    text-align: center;
}

#add-friend-btn {
    width: 60px;
    display: block;
    /* margin: auto; */
    cursor: pointer;
    margin-left: 40px;
}

#add-friend-btn:hover {
    transform: scale(1.1);
}



.friend {
    display: flex;
    border: 1px black solid;
    cursor: pointer;
    /* border-radius: 10px; */
    background-color: white;
    width: 500px;
    padding: 10px;
    box-sizing: border-box;
}

.group {
    display: flex;
    border: 1px black solid;
    cursor: pointer;
    /* border-radius: 10px; */
    background-color: white;
    width: 500px;
    padding: 10px;
    box-sizing: border-box;
}

.group p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 25px;
}

.friend p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 25px;

}

#friend-headshot {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50px;
    padding: 5px;
}

#group-headshot {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50px;
    padding: 5px;

}

.friend-list {
    width: 500px;
    margin: auto;
}

.group-list {
    width: 500px;
    margin: auto;
}


body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(194, 194, 194);
    ;
    border-radius: 15px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(156, 156, 156);
}


.friend-popup {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    width: 300px;
    border: 2px solid black;
    z-index: 3000;
}

.friend-popup-headshot {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
    display: block;
    margin: auto;
    margin-top: 100px;
}

.friend-popup-chatbox {
    width: 50px;
    margin: auto;
    margin-top: 100px;
    cursor: pointer;
    margin-bottom: 10px;
}


.friend-popup-chatbox:hover {
    transform: scale(1.1);
}

.friend-nickname {
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
}

.friend-popup-close {
    display: block;
    width: 50px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.friend-popup-close:hover {
    transform: scale(1.1);
}

.chat-container {
    width: 600px;
    height: 700px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    border-radius: 10px;
    border: solid 3px black;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;

}

.chat-container-close-btn {
    display: block;
    width: 40px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.chat-container-close-btn:hover {
    transform: scale(1.1);
}

.input-container {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.message-input {
    width: 380px;
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
}

.send-message {
    width: 50px;
    cursor: pointer;
    background-color: rgb(119, 181, 252);
    color: white;
    font-weight: bolder;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.send-message:hover {
    transform: scale(1.1);
}

.chat-friend-name {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 10px;
    margin-bottom: 10px;
}

.friend-user_id {
    color: white;
}

.chat-friend-user_id {
    color: white;
}

.self-id {
    display: none;
}

.chat-message {
    width: 90%;
    height: 70%;
    overflow: scroll;
    overflow-x: hidden;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}

.chat-message::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #eaeaea00;
    border-radius: 10px;
}

.chat-message::-webkit-scrollbar-thumb {
    background-color: rgb(156, 156, 156);
    border-radius: 10px;
}

.chat-message-font {
    color: black;
    font-weight: bolder;
    font-size: 25px;
    padding: 10px;
    display: block;
    /* min-width: fit-content; */
    background-color: rgb(119, 181, 252);
    width: fit-content;
    border-radius: 20px;
    max-width: 200px;
    word-wrap: break-word;
    margin-left: 10px;

    /* 靠右 */
    /* margin-right:0px;
    margin-left:auto; */
}

.search-empty-image {
    width: 200px;
    text-align: center;
    margin: auto;
    display: none;
}

.search-friend-popup-image {
    width: 340px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.search-result {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 300px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
}

.friend-call-popup {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    width: 400px;
    border: 2px solid black;
    z-index: 2000;
    text-align: center;
    justify-content: center;
}

.friend-call-icon {

    padding: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

.friend-call-icon-container {
    background-color: rgb(39, 175, 39);
    border-radius: 50px;
    border: 2px solid black;
}

.friend-call-hangup-icon {
    padding: 15px;
    width: 60px;
    cursor: pointer;
    display: block;

}

.friend-call-hangup-icon-container {
    border-radius: 50px;
    background-color: rgb(248, 82, 82);
    border: 2px solid black;
}

.friend-call-icon-container:hover {
    transform: scale(1.05);
}

.friend-call-hangup-icon-container:hover {
    transform: scale(1.05);
}

.friend-call-headshot {
    width: 150px;
    border-radius: 150px;
    height: 150px;
    object-fit: cover;
}

.friend-call-nickname {
    font-weight: bolder;
    font-size: 40px;
}

@keyframes ldio-f21110bk72v {
    0% {
        transform: translate(18px, 86px) scale(0);
    }

    25% {
        transform: translate(18px, 86px) scale(0);
    }

    50% {
        transform: translate(18px, 86px) scale(1);
    }

    75% {
        transform: translate(86px, 86px) scale(1);
    }

    100% {
        transform: translate(154px, 86px) scale(1);
    }
}

@keyframes ldio-f21110bk72v-r {
    0% {
        transform: translate(154px, 86px) scale(1);
    }

    100% {
        transform: translate(154px, 86px) scale(0);
    }
}

@keyframes ldio-f21110bk72v-c {
    0% {
        background: #e15b64
    }

    25% {
        background: #abbd81
    }

    50% {
        background: #f8b26a
    }

    75% {
        background: #f47e60
    }

    100% {
        background: #e15b64
    }
}

.ldio-f21110bk72v div {
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    transform: translate(86px, 86px) scale(1);
    background: #e15b64;
    animation: ldio-f21110bk72v 1.7241379310344827s infinite cubic-bezier(0, 0.5, 0.5, 1);
}

.ldio-f21110bk72v div:nth-child(1) {
    background: #f47e60;
    transform: translate(154px, 86px) scale(1);
    animation: ldio-f21110bk72v-r 0.43103448275862066s infinite cubic-bezier(0, 0.5, 0.5, 1), ldio-f21110bk72v-c 1.7241379310344827s infinite step-start;
}

.ldio-f21110bk72v div:nth-child(2) {
    animation-delay: -0.43103448275862066s;
    background: #e15b64;
}

.ldio-f21110bk72v div:nth-child(3) {
    animation-delay: -0.8620689655172413s;
    background: #f47e60;
}

.ldio-f21110bk72v div:nth-child(4) {
    animation-delay: -1.2931034482758619s;
    background: #f8b26a;
}

.ldio-f21110bk72v div:nth-child(5) {
    animation-delay: -1.7241379310344827s;
    background: #abbd81;
}

.loadingio-spinner-ellipsis-tos2edjfqo {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
    margin: auto;
}

.ldio-f21110bk72v {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-f21110bk72v div {
    box-sizing: content-box;
}

.friend-call-timer {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}

.self-call-timer {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;

}

.friend-call-timer p {
    font-size: 20px;
}

.self-call-popup {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    width: 400px;
    border: 2px solid black;
    z-index: 2000;
    text-align: center;
    justify-content: center;
}

.self-call-popup-headshot {
    width: 150px;
    border-radius: 150px;
    height: 150px;
    object-fit: cover;
}

.self-call-popup-nickname {
    font-size: 25px;
    font-weight: bolder;
}

.self-call-hangup-icon-container {
    background-color: rgb(248, 82, 82);
    border-radius: 50px;
    width: 90px;
    border: 2px solid black;
    margin: auto;
    margin-bottom: 20px;
}

.self-call-hangup-icon-container:hover {
    transform: scale(1.05);
}

.self-call-hangup-icon {
    padding: 15px;
    width: 60px;
    cursor: pointer;
    display: block;
    margin: auto;

}

.profile-btn-container {
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 80px;
}

.profile-btn-container p {
    text-align: center;
    font-weight: bolder;
}

.profile-btn-container:hover {
    transform: scale(1.1);
}

.friend-btn-container {
    cursor: pointer;
    margin-bottom: 20px;
}

.friend-btn-container p {
    text-align: center;
    font-weight: bolder;
}

.friend-btn-container:hover {
    transform: scale(1.1);
}

.chat-btn-container {
    cursor: pointer;
}

.chat-btn-container p {
    text-align: center;
    font-weight: bolder;
}

.chat-btn-container:hover {
    transform: scale(1.1);
}

.error-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 6000;
    background: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    display: none;
}