.profile-btn {
    width: 75px;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.profile-btn:hover {
    transform: scale(1.1);
}

#profile-page {
    display: none;
}