<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/phone_call.css">
    <title>群組通話</title>

</head>

<body>
    <div class="group-call-popup">
        <img class="group-call-popup-close" src="./images/minus.png" />
        <div class="group-call-member-data">
        </div>
        <div style="display:flex;">
            <div class="group-call-accept-btn">
                <img src="./images/phone.png" />
            </div>
            <div class="group-call-reject-btn">
                <img src="./images/rejected (1).png" />
            </div>
        </div>
    </div>



    <script type="text/javascript" src="scripts/group_call.js"></script>
</body>

</html>