<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/ufo.png" />
    <link rel="stylesheet" href="style/navbar.css">
    <link rel="stylesheet" href="style/member.css">
    <link rel="stylesheet" href="style/profile_page.css">
    <link rel="stylesheet" href="style/friendpage.css">
    <link rel="stylesheet" href="style/chat_page.css">
    <link rel="stylesheet" href="style/phone_call.css">
    <title>毛毛星球</title>
</head>

<body>
    <div class="navbar">
        <div class="left-navbar">
            <img class="navbar-icon" src="./images/ufo.png"/>
            <p style="padding:10px;">毛毛星球</p>
        </div>
        <div class="right-navbar">
            <p class="sign-out-btn">登出</p>
        </div>
    </div>

    <div class="error-message">
    </div>

    <div class="darker">
    </div>
    <div class="loadingio-spinner-bean-eater-mflx48p4y5f" id="loader">
        <div class="ldio-lsaa2rq7ukb">
            <div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <div class="loader-darker">
    </div>

    <div class="loader-container">
        <div class="loadingio-spinner-wedges-geuddg8cb6h">
            <div class="ldio-2wshb02l3sa">
                <div>
                    <div>
                        <div></div>
                    </div>
                    <div>
                        <div></div>
                    </div>
                    <div>
                        <div></div>
                    </div>
                    <div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <div class="profile-page-confirm-email-popup">
        <img class="profile-page-confirm-email-close" src="./images/close.png" />
        <p class="profile-page-confirm-email-title">信箱驗證</p>
        <input class="profile-page-confirm-email-input" type="text" />
        <p class="profile-page-confirm-email-btn">送出</p>
    </div>

    <div class="profile-page-confirm-email-success-popup">
        <img class="profile-page-confirm-email-success-close" src="./images/close.png" />
        <p class="profile-page-confirm-email-success-font"></p>
    </div>

    <div class="container">
        <div class="left-content">
            <div class="profile-btn-container">
                <img class="profile-btn" src="./images/ufo (5).png" />
                <p>個人檔案</p>
            </div>
            <div class="friend-btn-container">
                <img class="pc-icon" id="friend-icon" src="./images/friends.png" />
                <p>好友</p>
            </div>
            <div class="chat-btn-container">
                <img class="pc-icon" id="chat-icon" src="./images/chat.png" />
                <p>聊天</p>
            </div>
        </div>

        <div class="right-content" id="profile-page">
            <div class="profile-page">
                <div class="profile-title">個人檔案</div>
                <div class="profile-page-left-content">
                    <img class="headshot" />
                    <input type="file" class="img-file" accept="image/*">
                    <p class="upload-image-btn">選擇檔案</p>
                    <p class="upload-btn">確定上傳</p>
                    <img class="upload-image-close" src="./images/delete.png" />
                    <img class="headshot-edit" src="./images/camera.png" />
                </div>
                <div class="profile-page-right-content">
                    <div class="profile-data">
                        <p>姓名&nbsp;&nbsp;:&nbsp;&nbsp;</p>
                        <p class="profile-name-content"></p>
                        <input class="name-input" type="text" />
                        <img class="name-edit" src="./images/pencil.png" />
                        <img class="name-ok" src="./images/check.png" />
                        <img class="name-close" src="./images/delete.png" />
                    </div>
                    <div class="profile-data">
                        <p>信箱&nbsp;&nbsp;:&nbsp;&nbsp;</p>
                        <p class="profile-email-content"></p>
                        <input class="email-input" type="text" />
                        <img class="email-edit" src="./images/pencil.png" />
                        <img class="email-ok" src="./images/check.png" />
                        <img class="email-close" src="./images/delete.png" />
                        <p class="profile-email-content-error-msg">信箱已被使用過</p>
                    </div>


                </div>
            </div>
        </div>



        <div class="right-content" id="friend-page">
            <div class="search-bar">
                <div class="add-friends-btn">
                    <img class="add-friend-btn" src="./images/add-friend.png">
                    <p>加好友</p>
                </div>
            </div>
            <div class="search-result-list-close-container">
                <img class="search-result-list-close" src="./images/delete.png">
            </div>
            <div class="search-result-list">


            </div>

            <p class="friend-page-list-title">好友列表</p>
            <div class="friend-list">
            </div>
            <div class="list-empty" id="friend-list-empty">
                <img src="./images/raccoon (1).png" />
                <p>暫無好友</p>
            </div>

            <p class="group-page-list-title"> 群組列表</p>
            <div class="group-list">
            </div>
            <div class="list-empty" id="group-list-empty">
                <img src="./images/surfing.png" />
                <p>暫無群組</p>
            </div>

        </div>

        <div class="right-content" id="chat-page">
            <div class="add-group-chat-container">
                <div class="add-group-btn">
                    <img class="add-group-chat-icon" src="./images/add.png">
                    <p>建立群祖</p>
                </div>
            </div>
            <p class="single-chat-history-title">單人聊天紀錄</p>
            <div class="chat-list-container">
            </div>
            <div class="chat-list-empty" id="single-chat-empty">
                <img src="./images/fox.png" />
                <p>暫無單人聊天紀錄</p>
            </div>

            <p class="group-chat-history-title">群組聊天紀錄
            </p>
            <div class="group-chat-list-container">
            </div>
            <div class="chat-list-empty" id="group-chat-empty">
                <img src="./images/love.png" />
                <p>暫無群組聊天紀錄</p>
            </div>

        </div>

        <div class="add-group-popup">
            <img class="close-add-group-popup" src="./images/close.png">
            <div class="group-name">
                <p>群組名稱</p>
                <input class="group-name-input" type="text" value="群組" />
            </div>

            <div class="group-member-container">
                <div class="search-list-container">
                    <p style="text-align:center;font-weight:bolder;margin-top:10px;">好友列表</p>

                    <div class="search-list">

                    </div>
                </div>

                <div class="had-add-member-container">
                    <p class="had-add-member-list-title">已加入的成員</p>
                    <div class="had-add-member-list">

                    </div>
                </div>
            </div>

            <p class="create-group-btn">建立群組</p>
        </div>





    </div>


    <div class="friend-popup">
        <img class="friend-popup-close" src="./images/close.png" />
        <img class="friend-popup-headshot" />
        <p class="friend-nickname"></p>

        <img class="friend-popup-add-friend" src="./images/add-friend-btn.png" />
        <div class="friend-popup-pc-container">
            <img class="friend-popup-chatbox" src="./images/chat-box.png" />
            <img class="friend-popup-call" src="./images/telephone.png">
        </div>
    </div>

    <div class="search-friend-popup">
        <div class="search-friend-popup-content">
            <img class="popup-close-btn" src="./images/close.png" />
            <div class="search-bar">
                <input class="search-friend" id="add-friend-popup-input" type="text" placeholder="輸入用戶的姓名或Email來加好友" />
                <img class="search-friend-btn" id="add-friend-popup-btn" src="./images/search.png" />

            </div>
            <img class="search-friend-popup-image" src="./images/search-image.png">
            <img class="search-empty-image" src="./images/search-empty.png" />
            <div class="search-friend-popup-result">
            </div>
        </div>
    </div>

    <div class="chat-container">
        <div class="is-add-friend-to-stranger">
            <p class="is-add-friend-title">要加對方為好友嗎?</p>
            <div class="is-add-friend-container">
                <p class="is-add-friend-ok-btn">好的</p>
                <p class="is-add-friend-no-btn">取消</p>
            </div>
        </div>
        <img class="chat-container-close-btn" src="./images/close.png" />
        <p class="group-member-icon">群組成員</p>
        <div style="display:flex;">
            <img class="chat-headshot-picture" />
            <p class="chat-friend-name"></p>
        </div>
        <div class="file-upload-loading">
            <div class="loadingio-spinner-rolling-k0nzmx2tnqs">
                <div class="ldio-ssrhod4cbld">
                    <div></div>
                </div>
            </div>
            <p>檔案傳送中</p>
        </div>

        <p class="chat-message-datetime"></p>
        <div class="chat-message">
        </div>
        <div class="group-read-status"></div>
        <p class="hover-font">可傳送圖片、影片、音樂、純文本等檔案</p>
        <div class="input-container">
            <img class="chat-page-hamburger-icon" src="./images/menu.png" />
            <img class="message-picture-icon" src="./images/add-image.png" />
            <input style="display:none;" type="file" class="chat-image-input"
                accept="image/* audio/* video/* application/pdf text/plain">
            <input class="message-input" type="text" />
            <p class="send-message">送出</p>
            <img class="message-sticker-icon" src="./images/emoji.png" />
        </div>
        <div class="chat-popup-setting">
            <div class="chat-popup-photo-icon">
                <img src="./images/image.png" />
                <p>相片、影片</p>
            </div>
            <div class="char-popup-file-icon">
                <img src="./images/folder.png">
                <p>檔案</p>
            </div>
        </div>

        <div class="picture-video-container">
            <img class="close-picture-video-container" src="./images/close.png" />
            <div style="display:flex">
                <p class="picture-btn">圖片</p>
                <p class="video-btn">影片</p>
            </div>
            <div class="picture-list">
            </div>
            <div class="video-list">
            </div>
        </div>

        <div class="sticker-popup">
            <p>😀</p>
            <p>😄</p>
            <p>😁</p>
            <p>😆</p>
            <p>😅</p>
            <p>😂</p>
            <p>🤣</p>
            <p>😇</p>
            <p>😉</p>
            <p>🥰</p>
            <p>😘</p>
            <p>🥲</p>
            <p>🤪</p>
            <p>😝</p>
            <p>🤑</p>
            <p>😎</p>
            <p>🤡</p>
            <p>🥳</p>
            <p>😏</p>
            <p>😶</p>
            <p>😒</p>
            <p>🤔</p>
            <p>🫢</p>
            <p>😡</p>
            <p>😬</p>
            <p>💩</p>
            <p>🤖</p>
            <p>😈</p>
            <p>👻</p>
            <p>😺</p>
            <p>🫶</p>
            <p>👍</p>
            <p>💪</p>
            <p>🙌</p>
            <p>👏</p>
            <p>👊</p>
            <p>👀</p>
        </div>

    </div>

    <div class="add-friend-status-popup">
        <p class="add-friend-status"></p>
    </div>

    <div class="group-member-popup">
        <img class="group-member-popup-close" src="./images/close.png" />
        <div class="add-new-user-btn">
            <img src="./images/plus.png"/>
            <p>加入新成員</p>
        </div>
        <p class="group-member-list-title">群組列表</p>
        <div class="group-member-list">
        </div>
    </div>

    <div class="add-user-to-group-container">
        <div class="add-user-to-group-friendlist">
        </div>
    </div>

    <div class="friend-call-popup">
        <img class="friend-call-headshot" />
        <p class="friend-call-nickname"></p>
        <div class="loadingio-spinner-ellipsis-tos2edjfqo" id="phone-call-loading">
            <div class="ldio-f21110bk72v">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <div class="friend-call-timer">
            <p class="friend-call-hour"></p>
            <p class="friend-call-minute"></p>
            <p class="friend-call-seconds"></p>
        </div>

        <div style="display:flex;justify-content:space-around; align-items: center;margin-bottom:20px;">
            <div class="friend-call-icon-container">
                <img class="friend-call-icon" src="./images/telephone.png" />
            </div>
            <div class="friend-call-hangup-icon-container">
                <img class="friend-call-hangup-icon" src="./images/rejected (1).png" />
            </div>
        </div>
    </div>

    <div class="self-call-popup">
        <img class="self-call-popup-headshot" />
        <p class="self-call-popup-nickname"></p>

        <div class="loadingio-spinner-ellipsis-tos2edjfqo" id="self-phone-call-loading">
            <div class="ldio-f21110bk72v">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <div class="self-call-timer">
            <p class="self-call-hour"></p>
            <p class="self-call-minute"></p>
            <p class="self-call-seconds"></p>
        </div>


        <div class="self-call-hangup-icon-container">
            <img class="self-call-hangup-icon" src="./images/rejected (1).png" />
        </div>


    </div>


    <div class="group-call-popup">
        <img class="group-call-popup-close" src="./images/minus.png" />
        <div class="group-call-member-data">
        </div>
        <div style="display:flex;">
            <div class="group-call-accept-btn">
                <img src="./images/phone.png" />
            </div>
            <div class="group-call-reject-btn">
                <img src="./images/rejected (1).png" />
            </div>
        </div>
    </div>

    <div class="group-call-icon">
        <img src="./images/phone.png" />
    </div>




    <!-- <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script> -->
    <!-- <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script> -->
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>

    <script src="socket.io/socket.io.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script> -->
    <script type="text/javascript" src="scripts/left_content.js"></script>
    <script type="text/javascript" src="scripts/profile_page.js"></script>
    <script type="text/javascript" src="scripts/member_page.js"></script>
    <script type="text/javascript" src="scripts/chat_page.js"></script>
    <script type="text/javascript" src="scripts/friend_page.js"></script>
    <script type="text/javascript" src="scripts/chat_popup.js"></script>
    <script type="text/javascript" src="scripts/phone_call.js"></script>
</body>

</html>